# Environnement virtuel
venv/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Modèles ML (trop lourds)
models/*.pkl

# Données
data/raw/
data/clean/

# Variables d'environnement
.env

# Airflow
logs/
*.log